scikit-build==0.19.0
opencv-python-headless==4.13.0.92
black==26.5.1
isort==8.0.1
pillow==12.2.0
tqdm==4.67.3
albumentations==2.0.8
pycocotools==2.0.11
pyyaml==6.0.3
Cython==3.2.4
numpy==2.4.6
requests==2.34.2
flake8==7.3.0
pre-commit==4.6.0
tensorboard==2.20.0
google-cloud-storage==3.10.1
